

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:0;
    padding: 0;
    height: 100vh;
    
    
}

.main-container {
    display: flex;
    gap:30px;
}

.main-container .control-panel {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    align-items: center;
    gap: 10px;
    width: 200px;
    height: 350px;
    background-color: lightblue;
    border-radius: 8px;
    align-self: center;
    
}

.main-container .grid-container {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    border: 5px solid;
    width: 700px;
    height: 700px;
    border-radius:8px;
    border-color:lightblue;
}

.main-container .box-active {
    display: flex;
    flex-grow: 1;
    align-items: stretch;
    outline-color:lightblue;
    
}

.main-container .size-slider{
    width: 80%;
    
}
.redraw-button,
.btn-grid {
    font-family: "Lucida Console", "Courier New", monospace;
    width: 50%;
    font-size: 20px;
    padding: 10px;
    border-radius: 8px;
    background-color: royalblue;
    color:white;
    box-shadow: 0 5px 0 lightblue;
}
.redraw-button:active{
    box-shadow: none;
    transform: translateY(5px);
    transition: all .1s;
}

.btn-grid:active{
    box-shadow: none;
    transform: translateY(5px);
    transition: all .1s;
}

.control-panel h3 {
    font-size: 30px;
}

.control-panel p, span{
    font-size:25px;
}